<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="brand-title">Game Survey Campus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gaming-bg">

  <div class="main-container">

    <div class="welcome-card">
      <div class="overlay"></div>
      <div class="card-content">
        <h1>Bienvenido!</h1>
        <p>Tu opinión cuenta en el campus. Gestiona y responde encuestas activas.</p>
      </div>
    </div>

    <div class="menu-container">

      <ion-button 
        expand="block" 
        routerLink="/new-survey" 
        class="btn-action btn-primary-gradient">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Nueva Encuesta
      </ion-button>

    </div>

    <div class="games-section">
      <h2 class="section-title">🎮 Juegos populares</h2>

      <ion-card *ngFor="let game of games">

        <img [src]="game.background_image" />

        <ion-card-header>
          <ion-card-title>
            {{ game.name }}
          </ion-card-title>

          <ion-card-subtitle>
            ⭐ {{ game.rating }} / 5
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>📅 Lanzamiento: {{ game.released }}</p>
        </ion-card-content>

      </ion-card>

    </div>

    <div class="surveys-section">

      <h2 class="section-title">Encuestas recientes</h2>

      <ion-list *ngIf="encuestas.length > 0; else empty">

       <div class="surveys-section">

    <ion-card *ngFor="let e of encuestas" class="rawg-card">
          <!-- IMAGEN DEL JUEGO -->
          <img
            *ngIf="e.gameInfo?.image"
            [src]="e.gameInfo.image"
            class="game-image"
          />

          <ion-card-header>

            <ion-card-title>
              🎮 Videojuego favorito: {{ e.gameInfo?.name || e.videojuego }}
            </ion-card-title>

            <ion-card-subtitle>
              ⭐ Rating: {{ e.gameInfo?.rating || 'N/A' }}
            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>

            <p><strong>👤Nombre: </strong> {{ e.apodo }}</p>

            <p><strong>🎭 Rol:</strong> {{ e.rol }}</p>

            <p><strong>📍 Lugar:</strong> {{ e.lugar }}</p>

            <p><strong>💬:</strong> {{ e.comentario || 'N/A' }}</p>

            <p class="date">
              📅 {{ e.createdAt?.toDate() | date:'short' }}
            </p>

          </ion-card-content>

        </ion-card>

      </div>

      </ion-list>

      <ng-template #empty>
        <ion-text color="medium">
          Aún no hay encuestas registradas
        </ion-text>
      </ng-template>

    </div>

    <div class="logout-wrapper">
      <ion-button 
        fill="clear" 
        color="danger" 
        (click)="logout()" 
        class="btn-logout">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </div>

  </div>

</ion-content>